[submodule "ansible/roles/docker"]
	path = ansible/roles/docker
	url = https://github.com/freehck/ansible-role-docker.git
[submodule "ansible/roles/group-hosts-to-hosts"]
	path = ansible/roles/group-hosts-to-hosts
	url = https://github.com/freehck/ansible-role-group-hosts-to-hosts.git
[submodule "ansible/roles/k8s"]
	path = ansible/roles/k8s
	url = https://github.com/freehck/ansible-role-k8s.git
[submodule "ansible/roles/k8s-ext-storage-local-volume-provisioner"]
	path = ansible/roles/k8s-ext-storage-local-volume-provisioner
	url = https://github.com/kofonfor/ansible-role-k8s-ext-storage-local-volume-provisioner.git
[submodule "ansible/roles/helm"]
	path = ansible/roles/helm
	url = https://github.com/kofonfor/ansible-role-helm.git
[submodule "ansible/roles/k8s-namespace"]
	path = ansible/roles/k8s-namespace
	url = https://github.com/kofonfor/ansible-role-k8s-namespace.git
[submodule "ansible/roles/k8s-elasticsearch-cluster"]
	path = ansible/roles/k8s-elasticsearch-cluster
	url = https://github.com/kofonfor/ansible-role-k8s-elasticsearch-cluster.git
[submodule "ansible/roles/k8s-kibana"]
	path = ansible/roles/k8s-kibana
	url = https://github.com/kofonfor/ansible-role-k8s-kibana.git
[submodule "ansible/roles/k8s-fluentd-elasticsearch"]
	path = ansible/roles/k8s-fluentd-elasticsearch
	url = https://github.com/kofonfor/ansible-role-k8s-fluentd-elasticsearch.git
